*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background: linear-gradient(90deg, #880fc4 0%, #1d39f2 100%);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.wrapper h1{
    font-size: 60px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.wrapper h5{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.card{
    width: 380px;
    height: 320px;
    border-radius: 10px;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: rgb(255, 255, 255,0.2);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
    color: #333;
    background: #fff;
    z-index: 1000;
}
.card img{
    height: 90px;
    width: 90px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}
.card p{
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 40px;
}
.card h2{
    font-weight: 500;
    margin-bottom: 7px;
}
.card h4{
    color: #333;
    font-weight: 400;
    font-size: 16px;
}
.card i{
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color: #b2becb;
}
/* responsive design */
@media(max-width:768px){
    .cards{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        margin: 25px;
    }
}